// Define variables for your color scheme

// For example:
$gray: #000000;
$light-gray: #F4F4F4;

// New ones:
$blue: #6699CC;
$dark-blue: #044389;
$yellow: #FFF275;
$orange: #FF8C42;
$red: #FF3C38;
$dark-red: #A23E48;
$dark-gray: #403F4C;
$green: #90A583;
$pink: #EE4266;
$light-pink: #F6E8EA;
$maroon: #554640;
$purple: #713E5A;




