<div class="main-container">
  <div class="row cards-container">
    <div class="col-xs-12 col-sm-12">
    </div>
    <div class="cards">
      <% @pets.each do |pet| %>
        <div class="col-xs-12 col-sm-6">
            <%= render 'shared/card_user', pet: pet%>
        </div>
      <% end %>
     </div>
    </div>
  <div id="map">
    <%= render 'shared/map' %>
  </div>
</div>



