<h1><%= @pet.name %></h1>

<!-- photo
link to book -->
<%= link_to "Book now", new_pet_booking_path(@pet) %>


<%= link_to "Back to all", pets_path %>

<% if current_user == @user %>
  <%= link_to "Edit pet's profile", edit_pet_path(@pet) %>
<% end %>

