
<div class="banner-wrap">
  <%= render 'shared/banner_pet_show', pet_name: @pet.name.upcase, pet_category: @pet.category.downcase, landscape_photo: "http://cdn.thedesigninspiration.com/wp-content/uploads/2012/11/Paw-Print-l.jpg", pet: @pet %>
</div>
