<h1>Here are all the bookings for your pet</h1>
<ul>
  <% @bookings.order(start_date: :desc).each do |booking| %>
  <li>
    <h2>
      Booking #<%= link_to booking.id, booking_path(booking)%>
    </h2>
    <p>Start date: <%= booking.start_date %></p>
    <p>End date: <%= booking.end_date %></p>
  </li>
  <% end %>
</ul>
