<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,50,0.6) 0%, rgba(0,36,50,0.6) 50%), url('http://cdn.skim.gs/image/upload/c_fill,dpr_1.0,f_auto,fl_lossy,q_auto,w_940/v1456335853/msi/Cavalier_King_Charles_Spaniel_wvectl.jpg');">
  <div class="banner-content">
    <h1>Share-A-Pet</h1>
    <p>#1 tenderness provider</p>
      <%= link_to "See pets", pets_path, class: "btn btn-primary"%>
  </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <%= render "shared/card_banner", quote: "\"It changed my life\"", experience: "Jumpy x Emilio - 09/2017", url: "https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAO6AAAAJDk5NWU1NDcwLWEzN2ItNDg4Yy04YTE2LWM2YzY5MjAxYTFlNw.jpg" %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= render "shared/card_banner", quote: "\"Greatest experience ever\"", experience: "Couscous x Nicolas - 10/2017", url: "https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAx5AAAAJDdlNzFlM2QyLWZiZDAtNDJhNy04YTRlLWUyOGEyZGU5MDIzNQ.jpg" %>
      </div>
      <div class="col-xs-12 col-sm-4">
        <%= render "shared/card_banner", quote: "\"So cool !\"", experience: "Goal x Edinson - 02/2017", url: "http://futhead.cursecdn.com/static/img/14/players/179813.png" %>
      </div>
    </div>
</div>
