<div class="card">
  <img class="card-user" src="<%= url %>">
  <div class="card-description">
    <div class="text-center">
      <h2><%= quote %></h2>
    </div>
    <div class="text-center">
      <p><%= experience %></p>
    </div>
  </div>
</div>
