
<div class="card-u" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url('https://www.nationalgeographic.com/content/dam/animals/thumbs/rights-exempt/mammals/d/domestic-dog_thumb.jpg');">
  <div class="card-u-category">Dog</div>
  <div class="card-u-description">
    <h2>Laika</h2>
    <p>14 Feb - 16 Feb</p>
  </div>
  <img class="card-u-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
  <%= link_to '', pet_path(resource), class: "card-u-link" %>
</div>

